.navbar-light .navbar-nav>.nav-item>.nav-link,
.navbar-light .navbar-nav>.nav-item>.nav-link:focus {
  white-space: nowrap;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: $sta-menu-text;
}
.navbar-light .navbar-nav>.nav-item>.nav-link:hover {
  margin-top: 0;
  background-color: rgba(56, 75, 245, 0.705);
}

.qqq{
  transition: all 0.2s linear;
}


.qqq:hover{
  transform: scale(1.9);
  transition: all 0.2s linear;
}

.home-section.wg-slider2 {
  padding: 0;
  animation: none;
  animation-delay: unset;
}

.carousel-control-prev2,
.carousel-control-next2 {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  // Use flex for alignment (1-3)
  display: flex; // 1. allow flex styles
  align-items: center; // 2. vertically center contents
  justify-content: center; // 3. horizontally center contents
  width: $carousel-control-width;
  padding: 0;
  color: $carousel-control-color;
  text-align: center;
  background: none;
  border: 0;
  opacity: $carousel-control-opacity;
  @include transition($carousel-control-transition);

  // Hover/focus state
  @include hover-focus() {
    color: $carousel-control-color;
    text-decoration: none;
    outline: 0;
    opacity: $carousel-control-hover-opacity;
  }
}
.carousel-control-prev2 {
  left: 300px;
  @if $enable-gradients {
    background-image: linear-gradient(90deg, rgba($black, .25), rgba($black, .001));
  }
}
.carousel-control-next2 {
  right: 300px;
  @if $enable-gradients {
    background-image: linear-gradient(270deg, rgba($black, .25), rgba($black, .001));
  }
}




// Footer styles

footer {
  margin: 4rem 0 0;
  width: 200%;
  margin-left: -50%;
}

footer p {
  font-size: 0.75rem;
  text-align: center;
  @include media-breakpoint-down(sm) {
    /* 12px is min size required by Lighthouse on mobile */
    font-size: 12px;
  }
}

footer .powered-by {
  font-size: 0.67rem;
  @include media-breakpoint-down(sm) {
    /* 12px is min size required by Lighthouse on mobile */
    font-size: 16px;
    color: #fff;
  }
}

.site-footer {
  color: rgba(0, 0, 0, 0.54);
}

// Dark footer theme
.dark .site-footer,
.dark .docs .body-footer {
  color: rgba(255, 255, 255, 0.54);
  background-color: rgba(40, 40, 40, 0.8);
}

// Footer copyright license

.footer-license-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  height: auto;
  width: auto;
  text-decoration: none;
}

.footer-license-icons i {
  display: inline-flex;
  margin-right: 8px;
  height: 22px;
  vertical-align: text-bottom;
}
